
/HoNBuildPlanner/bin/Debug/Changelog.txt
/HoNBuildPlanner/bin/Debug/HoNBuildPlanner.application
/HoNBuildPlanner/bin/Debug/HoNBuildPlanner.exe
/HoNBuildPlanner/bin/Debug/HoNBuildPlanner.exe.manifest
/HoNBuildPlanner/bin/Debug/HoNBuildPlanner.pdb
/HoNBuildPlanner/bin/Debug/HoNBuildPlanner.vshost.application
/HoNBuildPlanner/bin/Debug/HoNBuildPlanner.vshost.exe
/HoNBuildPlanner/bin/Debug/heroes.xml
/HoNBuildPlanner/bin/Debug/imgs/heroes/accursed.jpeg
/HoNBuildPlanner/bin/Debug/imgs/heroes/devourer.jpeg
/HoNBuildPlanner/bin/Debug/imgs/heroes/electrician.jpeg
/HoNBuildPlanner/bin/Debug/imgs/heroes/glacius.jpeg
/HoNBuildPlanner/bin/Debug/imgs/heroes/kraken.jpeg
/HoNBuildPlanner/bin/Debug/imgs/other/attrboost.png
/HoNBuildPlanner/bin/Debug/imgs/other/attrboost_g.png
/HoNBuildPlanner/bin/Debug/imgs/skills/cadaverarmor.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/cadaverarmor_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/cauterize.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/cauterize_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/chillingpresence.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/chillingpresence_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/cleansingshock.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/cleansingshock_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/decay.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/decay_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/devour.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/devour_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/electricshield.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/electricshield_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/energyabsorption.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/energyabsorption_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/fireshield.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/fireshield_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/flameconsumption.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/flameconsumption_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/glacialdownpour.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/glacialdownpour_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/guttlinghook.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/guttlinghook_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/iceimprisonment.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/iceimprisonment_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/sear.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/sear_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/splash.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/splash_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/staticgrip.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/staticgrip_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/tidalpull.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/tidalpull_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/tsunamicharge.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/tsunamicharge_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/tundrablast.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/tundrablast_g.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/whirlpool.jpeg
/HoNBuildPlanner/bin/Debug/imgs/skills/whirlpool_g.jpeg
/HoNBuildPlanner/bin/Release/Changelog.txt
/HoNBuildPlanner/bin/Release/HoNBuildPlanner.application
/HoNBuildPlanner/bin/Release/HoNBuildPlanner.exe
/HoNBuildPlanner/bin/Release/HoNBuildPlanner.exe.manifest
/HoNBuildPlanner/bin/Release/HoNBuildPlanner.pdb
/HoNBuildPlanner/bin/Release/heroes.xml
/HoNBuildPlanner/bin/Release/imgs/heroes/accursed.jpeg
/HoNBuildPlanner/bin/Release/imgs/heroes/glacius.jpeg
/HoNBuildPlanner/bin/Release/imgs/other/attrboost.png
/HoNBuildPlanner/bin/Release/imgs/other/attrboost_g.png
/HoNBuildPlanner/bin/Release/imgs/skills/cauterize.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/cauterize_g.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/chillingpresence.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/chillingpresence_g.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/fireshield.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/fireshield_g.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/flameconsumption.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/flameconsumption_g.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/glacialdownpour.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/glacialdownpour_g.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/iceimprisonment.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/iceimprisonment_g.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/sear.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/sear_g.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/tundrablast.jpeg
/HoNBuildPlanner/bin/Release/imgs/skills/tundrablast_g.jpeg
/HoNBuildPlanner/imgs/HoN.png
/HoNBuildPlanner/imgs/Thumbs.db
/HoNBuildPlanner/imgs/heroes/Thumbs.db
/HoNBuildPlanner/imgs/heroes/accursed.jpeg
/HoNBuildPlanner/imgs/heroes/devourer.jpeg
/HoNBuildPlanner/imgs/heroes/electrician.jpeg
/HoNBuildPlanner/imgs/heroes/glacius.jpeg
/HoNBuildPlanner/imgs/heroes/kraken.jpeg
/HoNBuildPlanner/imgs/honbp.ico
/HoNBuildPlanner/imgs/other/Thumbs.db
/HoNBuildPlanner/imgs/other/attrboost.png
/HoNBuildPlanner/imgs/other/attrboost_g.png
/HoNBuildPlanner/imgs/skills/Thumbs.db
/HoNBuildPlanner/imgs/skills/cadaverarmor.jpeg
/HoNBuildPlanner/imgs/skills/cadaverarmor_g.jpeg
/HoNBuildPlanner/imgs/skills/cauterize.jpeg
/HoNBuildPlanner/imgs/skills/cauterize_g.jpeg
/HoNBuildPlanner/imgs/skills/chillingpresence.jpeg
/HoNBuildPlanner/imgs/skills/chillingpresence_g.jpeg
/HoNBuildPlanner/imgs/skills/cleansingshock.jpeg
/HoNBuildPlanner/imgs/skills/cleansingshock_g.jpeg
/HoNBuildPlanner/imgs/skills/decay.jpeg
/HoNBuildPlanner/imgs/skills/decay_g.jpeg
/HoNBuildPlanner/imgs/skills/devour.jpeg
/HoNBuildPlanner/imgs/skills/devour_g.jpeg
/HoNBuildPlanner/imgs/skills/electricshield.jpeg
/HoNBuildPlanner/imgs/skills/electricshield_g.jpeg
/HoNBuildPlanner/imgs/skills/energyabsorption.jpeg
/HoNBuildPlanner/imgs/skills/energyabsorption_g.jpeg
/HoNBuildPlanner/imgs/skills/fireshield.jpeg
/HoNBuildPlanner/imgs/skills/fireshield_g.jpeg
/HoNBuildPlanner/imgs/skills/flameconsumption.jpeg
/HoNBuildPlanner/imgs/skills/flameconsumption_g.jpeg
/HoNBuildPlanner/imgs/skills/glacialdownpour.jpeg
/HoNBuildPlanner/imgs/skills/glacialdownpour_g.jpeg
/HoNBuildPlanner/imgs/skills/guttlinghook.jpeg
/HoNBuildPlanner/imgs/skills/guttlinghook_g.jpeg
/HoNBuildPlanner/imgs/skills/iceimprisonment.jpeg
/HoNBuildPlanner/imgs/skills/iceimprisonment_g.jpeg
/HoNBuildPlanner/imgs/skills/sear.jpeg
/HoNBuildPlanner/imgs/skills/sear_g.jpeg
/HoNBuildPlanner/imgs/skills/splash.jpeg
/HoNBuildPlanner/imgs/skills/splash_g.jpeg
/HoNBuildPlanner/imgs/skills/staticgrip.jpeg
/HoNBuildPlanner/imgs/skills/staticgrip_g.jpeg
/HoNBuildPlanner/imgs/skills/tidalpull.jpeg
/HoNBuildPlanner/imgs/skills/tidalpull_g.jpeg
/HoNBuildPlanner/imgs/skills/tsunamicharge.jpeg
/HoNBuildPlanner/imgs/skills/tsunamicharge_g.jpeg
/HoNBuildPlanner/imgs/skills/tundrablast.jpeg
/HoNBuildPlanner/imgs/skills/tundrablast_g.jpeg
/HoNBuildPlanner/imgs/skills/whirlpool.jpeg
/HoNBuildPlanner/imgs/skills/whirlpool_g.jpeg
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.Properties.Resources.resources
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.application
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.csproj.FileListAbsolute.txt
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.csproj.GenerateResource.Cache
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.exe
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.exe.manifest
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.mainWindow.resources
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.newBuild.resources
/HoNBuildPlanner/obj/Debug/HoNBuildPlanner.pdb
/HoNBuildPlanner/obj/Debug/TempPE/resources.Designer.cs.dll
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.Properties.Resources.resources
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.application
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.csproj.FileListAbsolute.txt
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.csproj.GenerateResource.Cache
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.exe
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.exe.manifest
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.mainWindow.resources
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.newBuild.resources
/HoNBuildPlanner/obj/Release/HoNBuildPlanner.pdb
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/Changelog.txt.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/HoNBuildPlanner.application
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/HoNBuildPlanner.exe.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/HoNBuildPlanner.exe.manifest
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/TODO.txt.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/heroes.xml.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/heroes/glacius.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/other/attrboost.png.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/other/attrboost_g.png.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/cauterize.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/cauterize_g.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/chillingpresence.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/chillingpresence_g.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/fireshield.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/fireshield_g.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/flameconsumption.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/flameconsumption_g.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/glacialdownpour.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/glacialdownpour_g.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/iceimprisonment.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/iceimprisonment_g.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/sear.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/sear_g.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/tundrablast.jpeg.deploy
/HoNBuildPlanner/publish/Application Files/HoNBuildPlanner_0_1_0_0/imgs/skills/tundrablast_g.jpeg.deploy
/HoNBuildPlanner/publish/HoNBuildPlanner.application
/HoNBuildPlanner/publish/autorun.inf
/HoNBuildPlanner/publish/setup.exe
/Screenshots/Thumbs.db
/Screenshots/honbp_krakenbuild1.png
/Screenshots/honbp_krakenbuild2.png
/Screenshots/honbp_krakenbuild3.png
/Screenshots/honbp_krakenbuild4.png
/Screenshots/honbp_krakenbuild5.png
/Screenshots/honbp_newbuild1.png
/Screenshots/honbp_newbuild2.png